/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
body{
  font-family: 'Poppins';
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'Poppins-Italic';
  src: url('../fonts/Poppins/Poppins-LightItalic.ttf');
}
@font-face {
  font-family: 'Pyidaungsu';
  src: url('../fonts/Pyidaungsu.ttf');
}
.logo{
  height: 46px;
  width: auto;
}
.hide{
  display: none;
}
.hidden{
  display: none !important;
}
.w-100,.btn-wide{
	width: 100%;
}
.wd-200{
	width: 80px;
}
.mb-half{
	margin-bottom: 0.5rem !important;
}
hr{
	margin: 0 !important;
}
.marquee {
  width: 100%;
  margin-top:-16px;
  white-space: nowrap;
  overflow: hidden;
  height: 42px;
  background: #f44336;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.marquee .text {
  display: inline-block;
  padding-left: 10rem;
  text-indent: 0;
  animation: marquee 60s linear infinite;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #f2f2f2;
}
.marquee h4{
    margin: 0px !important;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.mxh{
  max-height: 420px;
  overflow: scroll;
}
.pull-right{
  float: right;
}
.icon{
  height: 32px;
}
.icon-sm{
  height: 24px;
}
.fs-16{
  font-size: 16px;
  vertical-align: middle;
}
.fs-18{
  font-size: 18px;
  vertical-align: middle;
  padding-left: 8px;
}
.fs-20{
  font-size: 20px;
  vertical-align: middle;
}
.fs-30{
  font-size: 36px;
}
.mt-6p{
  margin-top: 6px;
}
.list-group .list-group-item{
  line-height: 24px;
}
.list-group-item{
  padding: 0.5rem 1rem;
}
.list-icon{
  width: 20px;
  height: 20px;
}
.lg-list-icon{
  width: 80px;
  height: 80px;
}
.qty-box,.weight-box{
  width: 40px;
  height: 26px;
  padding: 0px 6px;
  text-align: right;
  font-weight: bold;
}
.content-scroll{
  max-height: 460px;
  overflow: auto;
}
.block{
  display: block;
  padding: 2px 0px;
  font-size: 18px;
}
.card-transaction .transaction-item:not(:last-child){
  margin-bottom: 1rem !important;
}
.inline-search{
  display: inline-block;
  width: 200px;
}
.mx-03 {
    margin-right: 0.3rem!important;
    margin-left: 0.3rem!important;
}
.border-rounded{
  border-radius: 0.358rem;
}
.form-control:focus{
  border-color: #eb5354 !important;
}
.btn-xs{
  padding: 0.4rem 0.6rem !important;
  font-size: .9rem;
}
.table>:not(caption)>*>*{
  padding: 0.5rem 1.5rem !important;
}
.waybill-no{
  font-size: 1.2rem;
}
.text-inline{
  display: inline;
}
.pkg-active{
  border: 1px solid #28C76F !important;
  border-radius: 0.358rem;
}
.br-15{
  border-radius: 15px !important;
}
.denied{
  opacity: 0.4;
}
.btn-denied:hover{
  cursor: not-allowed;
}
.btn-plus,
.btn-minus{
  height: 22px;
  width: 22px;
}
.minus,.plus,.remove{
  margin-top: -2px;
}
.p2{
  padding: 2px !important;
}
.inline-control{
  display: inline-block !important;
}
.border-2{
  border-width: 2px !important;
}
.bg-all{
  background:#7367F0;
}
.bg-draft,.bg-pending,.bg-shipping{
  background:#EA5455;
}
.bg-completed,.bg-received,.bg-arrived{
  background:#28C76F;
}
.mxh-560{
  max-height: 560px;
  overflow: scroll;
}
.mxh-480{
  max-height: 480px;
  overflow: scroll;
}
.mxh-200{
  max-height: 200px;
  overflow: scroll;
}
.text--right{
  text-align: right;
}
.custom-wh{
  width: 1.5rem !important;
  height: 1.5rem !important;
  vertical-align: -0.5em !important;
}
.p--8{
  padding:4px 8px!important;
}
.lh--40{
  line-height: 40px !important;
}
.mt--6{
  margin-top: 6px;
}
.list-item,.selected-item{
  border: 1px solid #D8D6DE;
  padding: 6px;
  border-radius: 6px;
}
.mt--4{
  margin-top: 4px;
}
.m--t-4{
  margin-top: -4px;
}
.card-transaction .transaction-item:not(:last-child){
  margin-bottom: 0.5rem !important;
}
.size-24{
  height: 24px;
  width: 24px;
}

.selected-item > div > div > div > div a,
.selected-item > div > div > div > div button{
  display: none !important;
}
.text-left{
  text-align: left;
}
.unstyled-list{
  padding: 0px;
  margin: 0px;
}
.unstyled-list li{
  list-style: none;
}
.h-24{
  height: 24px;
}
.disabled-item{
  opacity: 0.4;
  pointer-events: none;
}
.count-badge{
  width: 34px;
  text-align: center;
}

.view-img:hover{
  cursor: zoom-in;
  opacity: 0.7;
}
.text-right{
  text-align: right !important;
}
.text-bold{
  font-weight: bold;
}
.num-badge{
  display: inline-block;
  width: 20px;

}
.link-break{
  height: 2px;
  width: 100%;
  border-top: 1px dashed #ddd;
  margin-bottom: 8px;
}
.guideline-items li{
  margin-bottom: 4px;
}
strong{
  font-family: Poppins-Bold;
}
.rocket{
  height: 160px;
}
.text-italic{
  font-family: 'Poppins-Italic';
}
.img-box{
  height: 200px;
}

.bg-vector-1{
  background: url('../images/vector-001.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-vector-2{
  background: url('../images/vector-002.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-vector-3{
  background: url('../images/vector-003.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-vector-4{
  background: url('../images/vector-004.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-vector-5{
  background: url('../images/vector-005.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-vector-6{
  background: url('../images/vector-006.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.avatar-lg{
  height: 120px;
}
.ps-a{
  position: absolute;
  margin: -14px 0px 0px 14px;
}
.block{
  display: block !important;
}
.w-45{
  width: 45%;
}
.mt--10{
  margin-top: -10px;
}